# Import cache
.import/

# Binaries
bin/
build/
lib/

# Export
Export/
android/

# Addons
addons/

# Avoid bad surprise
export_presets.cfg

# Supress Useless
export_presets.cfg

asteroid-asteroid-svgrepo-com*